body {
  font-family: "Fredoka One", cursive;
  font-family: "Parisienne", cursive;
  margin: 0;
}
h1 {
  font-size: 45px;
}
.orange-color {
  color: orange;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 1.5%;
}
.half-width img {
  width: 560px;
  height: 435px;
  margin: 0px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
